*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    background: rgb(15, 143, 15);
}

.calc {
    display: block;
    width: 800px;
    height: 500px;
    max-width: 799px;
    background: rgb(18, 106, 221);
    box-shadow: 0 100px 30px rgba(0,0,0,0.5);
}
.calc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    width: 100%;
    
}

.outPut {
   color: green;
    height: 60px;
    background: black;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 40px;
    
    
}

.functions > button{
    height: 60px;
    width: 120px;
    font-size: 20px;
}
.numbers {
    margin-top: 40px;
    display: block;
    margin: 40px auto;
    
}
.numbers > button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    
    align-items: center;
    justify-content: center;
}

.top-btn > button,
.midle-btn > button,
.bottom-btn > button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin: 15px;
}

#numZero {
    width: 300px;
    margin-left: 55px;
}
